In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic") \
    .getOrCreate()

In [2]:
ratings = spark.read.csv("ratings_Home_and_Kitchen.csv", header=True, inferSchema=True)
ratings.show()

+--------------+---------+------+----------+
|        UserId|ProductId|Rating| Timestamp|
+--------------+---------+------+----------+
|A28ILV4TOG8BH2|130350591|     5|1300752000|
|A31B4D7URW4DNZ|307394530|     2|1214784000|
|A2HU0RPDRZZOP1|307394530|     5|1277337600|
| A7J0XOW7DYBBD|307394530|     5|1393113600|
| A9QY9F2Y7KDFW|307394530|     5|1218499200|
|A2MGJ4CELCSG10|307394530|     5|1234137600|
|A1S0DWONNWB8NH|307394530|     5|1266278400|
|A1FUE4TEATOQVV|307394530|     3|1220659200|
|A399RHVLQVXMA1|307394530|     5|1312675200|
|A1S0WZTK4QTY6O|307394530|     4|1306195200|
|A3RTX03KHAQ8LP|307394530|     5|1233792000|
|A1WXIQ3NYLMC8C|307394530|     5|1391385600|
|A2UCOPAEMGV3YP|307394530|     3|1225152000|
|A1TDYA2ZBU11NG|307394530|     5|1203206400|
|A2SMPLW2BFKSHJ|307394530|     4|1210550400|
|A13YEQYHZ93RB9|307394530|     5|1395878400|
|A109L3WXD1SJFU|307394530|     4|1200787200|
|A2X7EHMFQ9FLXK|307394530|     5|1224806400|
| AU86XQ8V39W80|307394530|     5|1216944000|
|A1OJX5PFD3H3Z4|307394530|     5|1287792000|
+--------------+---------+------+----------+
only showing top 20 rows

In [3]:
ratings.createOrReplaceTempView("HomeAndKitchen")

In [4]:
new_id = spark.sql("SELECT DISTINCT UserId FROM HomeAndKitchen")
new_id.show()

+--------------+
|        UserId|
+--------------+
|A1SW2D234X11MS|
|A3R9X003XW0LNR|
|A2L52PXOP1H3PG|
|A2WYUH3JEU1I2K|
|A1S3LD7TJUPAKA|
| A28NC9XJ5NS4Z|
|A3FNVLMOQZPIUI|
|A2LMHXV9P04WKR|
|A1UAFF7K6DOC7S|
|A3NQ692MZIY37J|
| AVWYFE169YDNS|
|A20RNI00FS9FUP|
|A3W15RCCHJP498|
|A1QGTR9ZT689Z5|
|A3OBP6RPU4WRBW|
|A1NXRF3I791HRI|
|A3R54K3E1RL2A8|
|A3JWKAL55OTF2I|
|A201LD5SZVQDGJ|
|A1MSX18RAO7190|
+--------------+
only showing top 20 rows

In [5]:
new_id.createOrReplaceTempView("newId")

In [6]:
new_user_id = spark.sql("SELECT UserId, ROW_NUMBER() OVER (ORDER BY UserId) AS user_id FROM newId")
new_user_id.show()

+--------------------+-------+
|              UserId|user_id|
+--------------------+-------+
|A0002382258OFJJ2U...|      1|
|A00030901VWJV5GJH...|      2|
|A00046902LP5YSDV0...|      3|
|A0010876CNE3ILIM9HV0|      4|
|A0011268Y3XKCQUGXM6K|      5|
|A0013712NB9QP8IWU5WK|      6|
|A001453031D3PK5XA...|      7|
|A00191762N44UPTT5...|      8|
|A002148622J157EA6...|      9|
|A002258237PFYJV33...|     10|
|A002469621K3HG6L4...|     11|
|A00295401U6S2UG3R...|     12|
|A00338282E99B8OR2...|     13|
|A00432223T108LIJ7...|     14|
|A004458616TPDS617...|     15|
|A00466702B629J2FU...|     16|
|A00469483BHO369ZY...|     17|
|A00471663283F48W8...|     18|
|A0047322388NOTO4N...|     19|
|A00473363TJ8YSZ3Y...|     20|
+--------------------+-------+
only showing top 20 rows

In [7]:
ratings = ratings.join(new_user_id, ratings.UserId == new_user_id.UserId)
ratings.show()

+--------------+----------+------+----------+--------------+-------+
|        UserId| ProductId|Rating| Timestamp|        UserId|user_id|
+--------------+----------+------+----------+--------------+-------+
|A100QXF0E860E9|B00009R66F|     5|1296691200|A100QXF0E860E9|    515|
|A101CZ45F288CC|B00008CM68|     5|1362960000|A101CZ45F288CC|    640|
|A10560BG3EV0K1|B000139H82|     5|1375833600|A10560BG3EV0K1|   1290|
|A105J4AR8FSY8D|B0006TJ402|     5|1263772800|A105J4AR8FSY8D|   1354|
|A108LBZ2CCISQA|B00009R66F|     5|1331337600|A108LBZ2CCISQA|   1874|
|A10CSSWRRROM4C|B0009ETS0A|     5|1387238400|A10CSSWRRROM4C|   2587|
|A10D9JWBPF9X6X|B0009KMYDM|     4|1383436800|A10D9JWBPF9X6X|   2663|
|A10E1H27GLD0MJ|B0000VZ57C|     5|1387152000|A10E1H27GLD0MJ|   2791|
|A10E1H27GLD0MJ|B000CSCFFI|     5|1162771200|A10E1H27GLD0MJ|   2791|
|A10ENZPGPNA5RM|B000ESJGZS|     5|1285200000|A10ENZPGPNA5RM|   2893|
|A10G15ANY7CPEE|B0007YDVA0|     3|1388966400|A10G15ANY7CPEE|   3106|
|A10G8SFYA8GSZG|B0000W4MYI|     4|1380672000|A10G8SFYA8GSZG|   3142|
|A10KHX41ONY4U1|B00070OWMU|     4|1389052800|A10KHX41ONY4U1|   3857|
|A10L6AY30VXE2L|B00008CM6A|     4|1194998400|A10L6AY30VXE2L|   3969|
|A10L6AY30VXE2L|B0007XXS7W|     3|1137283200|A10L6AY30VXE2L|   3969|
|A10LVCKQUDVQB0|B000FAR33M|     5|1362960000|A10LVCKQUDVQB0|   4067|
|A10MASTVA88A9C|B0002YSLF0|     1|1234051200|A10MASTVA88A9C|   4128|
|A10NJIHHXQYTWP|B0000VLXYG|     5|1360022400|A10NJIHHXQYTWP|   4328|
|A10Q1QIHVXKT8M|B00006IV0Q|     3|1370563200|A10Q1QIHVXKT8M|   4736|
|A10R80Q3DOAHS7|B0000W4N06|     1|1307750400|A10R80Q3DOAHS7|   4912|
+--------------+----------+------+----------+--------------+-------+
only showing top 20 rows

In [8]:
ratings.createOrReplaceTempView("ratings")

In [9]:
new_id2 = spark.sql("SELECT DISTINCT ProductId FROM ratings")
new_id2.show()

+----------+
| ProductId|
+----------+
|B000HBMFRS|
|B00061J2B6|
|B000EEMHT4|
|B00024WN36|
|B00005IX9T|
|B0000665TD|
|B0007MHCWU|
|B00062WTS8|
|B00004SPCT|
|B000095ZGF|
|B000I0WQWC|
|B00004XSC8|
|B0009XOTYQ|
|B000069BF9|
|B0000WM2J0|
|B000FG0ONC|
|B000DZD1AS|
|B0000DK2Y3|
|B00065EQJU|
|B0006G0KR6|
+----------+
only showing top 20 rows

In [10]:
new_id2.createOrReplaceTempView("newId2")

In [11]:
new_product_id = spark.sql("SELECT ProductId, ROW_NUMBER() OVER (ORDER BY ProductId) AS product_id FROM newId2")
new_product_id.show()

+----------+----------+
| ProductId|product_id|
+----------+----------+
|061533301X|         1|
|064178614X|         2|
|064180556X|         3|
|095650843X|         4|
|097736271X|         5|
|097857141X|         6|
|1009245414|         7|
|1059875837|         8|
|1223069818|         9|
|1223070743|        10|
|1223071359|        11|
| 130350591|        12|
|1403783624|        13|
|1412758181|        14|
|1438802552|        15|
|1438823029|        16|
|1439347069|        17|
|1450823661|        18|
|1450838049|        19|
|145085866X|        20|
+----------+----------+
only showing top 20 rows

In [12]:
ratings = ratings.join(new_product_id, ratings.ProductId == new_product_id.ProductId)
ratings.show()

+--------------+----------+------+----------+--------------+-------+----------+----------+
|        UserId| ProductId|Rating| Timestamp|        UserId|user_id| ProductId|product_id|
+--------------+----------+------+----------+--------------+-------+----------+----------+
| APQIDBZI0URIK|9177124405|     5|1382400000| APQIDBZI0URIK| 732576|9177124405|       292|
|A1HC4O36V1RLHN|9177124405|     5|1362268800|A1HC4O36V1RLHN| 101337|9177124405|       292|
|A1SX8OFBOZHQRO|9177124405|     3|1361491200|A1SX8OFBOZHQRO| 168661|9177124405|       292|
|A2X7GUGCAU2OFV|9177124405|     2|1399075200|A2X7GUGCAU2OFV| 402320|9177124405|       292|
|A3B51VYSNNG5VB|9177124405|     4|1385337600|A3B51VYSNNG5VB| 483209|9177124405|       292|
|A1JTXIGFXKV8AZ|9177124405|     5|1397433600|A1JTXIGFXKV8AZ| 115852|9177124405|       292|
| ALZZ29FFELMUB|9177124405|     3|1389916800| ALZZ29FFELMUB| 710891|9177124405|       292|
|A1FFBTI5F464OL|9177124405|     5|1381795200|A1FFBTI5F464OL|  90260|9177124405|       292|
|A32WDGMMOQS922|9177124405|     2|1388448000|A32WDGMMOQS922| 435484|9177124405|       292|
| AY7A3H9NX9Z19|9177124405|     5|1377475200| AY7A3H9NX9Z19| 782475|9177124405|       292|
|A20ODPSTLFOI31|9177124405|     3|1390435200|A20ODPSTLFOI31| 213705|9177124405|       292|
|A2ZJQNJ27WMGEI|9177124405|     5|1394496000|A2ZJQNJ27WMGEI| 415892|9177124405|       292|
|A3II0RQEHWWI8Q|9177124405|     5|1360368000|A3II0RQEHWWI8Q| 525927|9177124405|       292|
|A15G2DK60FY1V1|9177124405|     2|1401753600|A15G2DK60FY1V1|  32216|9177124405|       292|
|A35TBQ2YQ7Q5PF|9177124405|     5|1395100800|A35TBQ2YQ7Q5PF| 452309|9177124405|       292|
| AAST9CVNHC9DO|9177124405|     3|1396137600| AAST9CVNHC9DO| 645584|9177124405|       292|
|A1SQDF88937O2K|9177124405|     1|1374019200|A1SQDF88937O2K| 167577|9177124405|       292|
| AJ6G2SPCP6PUJ|9177124405|     2|1365033600| AJ6G2SPCP6PUJ| 694404|9177124405|       292|
|A1P5T9IFN9QWK5|9177124405|     1|1353715200|A1P5T9IFN9QWK5| 146875|9177124405|       292|
|A3QB0DG0MCUPND|9177124405|     1|1398816000|A3QB0DG0MCUPND| 571405|9177124405|       292|
+--------------+----------+------+----------+--------------+-------+----------+----------+
only showing top 20 rows

In [13]:
ratings = ratings.select('user_id', 'product_id', 'Rating')

In [14]:
ratings = ratings.withColumnRenamed('user_id', 'UserId')
ratings = ratings.withColumnRenamed('product_id', 'ProductId')

In [15]:
ratings.show()

+------+---------+------+
|UserId|ProductId|Rating|
+------+---------+------+
|732576|      292|     5|
|101337|      292|     5|
|168661|      292|     3|
|402320|      292|     2|
|483209|      292|     4|
|115852|      292|     5|
|710891|      292|     3|
| 90260|      292|     5|
|435484|      292|     2|
|782475|      292|     5|
|213705|      292|     3|
|415892|      292|     5|
|525927|      292|     5|
| 32216|      292|     2|
|452309|      292|     5|
|645584|      292|     3|
|167577|      292|     1|
|694404|      292|     2|
|146875|      292|     1|
|571405|      292|     1|
+------+---------+------+
only showing top 20 rows

In [16]:
query1 = ratings.select('UserId', 'ProductId', 'Rating')

In [17]:
query1.show()

+------+---------+------+
|UserId|ProductId|Rating|
+------+---------+------+
|732576|      292|     5|
|101337|      292|     5|
|168661|      292|     3|
|402320|      292|     2|
|483209|      292|     4|
|115852|      292|     5|
|710891|      292|     3|
| 90260|      292|     5|
|435484|      292|     2|
|782475|      292|     5|
|213705|      292|     3|
|415892|      292|     5|
|525927|      292|     5|
| 32216|      292|     2|
|452309|      292|     5|
|645584|      292|     3|
|167577|      292|     1|
|694404|      292|     2|
|146875|      292|     1|
|571405|      292|     1|
+------+---------+------+
only showing top 20 rows

In [18]:
# Convert to Pandas
import pandas as pd
query1Pandas = query1.toPandas()

In [22]:
query1Pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
UserId       1048575 non-null int32
ProductId    1048575 non-null int32
Rating       1048575 non-null int32
dtypes: int32(3)
memory usage: 12.0 MB

In [19]:
# Save to single CSV
query1Pandas.to_csv("/home/fariz/Documents/big data/final/HomeAndKitchen_ratings.csv", index=False)